@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 95%;
    --foreground: 0, 0%, 14%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 50, 100%, 50%;
    --primary-foreground: 0, 0%, 14%;

    --secondary: 0, 0%, 100%;
    --secondary-foreground: 0, 0%, 14%;

    --muted: 0, 0%, 98%;
    --muted-foreground: 0, 0%, 14%, 0.5;

    --accent: 0, 0%, 100%;
    --accent-foreground: 0, 0%, 14%;

    --destructive: 0, 0%, 11%;
    --destructive-foreground: 0, 0%, 95%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 9%;
    --foreground: 0, 0%, 95%;

    --card: 0, 0%, 11%;
    --card-foreground: 0, 0%, 95%;

    --popover: 0, 0%, 9%;
    --popover-foreground: 0, 0%, 95%;

    --primary: 50, 100%, 50%;
    --primary-foreground: 0, 0%, 95%;

    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0, 0%, 95%;

    --muted: 0, 0%, 100%;
    --muted-foreground: 0, 0%, 95%, 0.5;

    --accent: 0, 0%, 11%;
    --accent-foreground: 0, 0%, 95%;

    --destructive: 50, 100%, 50%;
    --destructive-foreground: 0, 0%, 95%;

    --border: 50, 100%, 8%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
